@charset "utf-8";
/* Style for our header texts
  * --------------------------------------- */
  h1{
      font-size: 5em;
      font-family: arial,helvetica;
      color: #fff;
      margin:0;
      padding:0;
  }

  /* Centered texts in each section
  * --------------------------------------- */
  .section{
      text-align:center;
  }

  /* Backgrounds will cover all the section
  * --------------------------------------- */
  .section{
      background-size: cover;
  }

  .slide{
      background-size: cover;
  }

  #myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
  }

  /* Layer with position absolute in order to have it over the video
  * --------------------------------------- */
  #section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
  }

  /*solves problem with overflowing video in Mac with Chrome */

  #section0{
      overflow: hidden;
  }


  /* Defining each section background and styles
  * --------------------------------------- */

  #section2{
      background-image: url("/website_homepage/static/src/img/bg3.jpg");
      padding: 6% 0 0 0;
  }

  #section3{
      background-image: url("/website_homepage/static/src/img/bg4.jpg");
      padding: 6% 0 0 0;
  }

  #section3 h1{
      color: #000;
  }

  #section4{
      background-image: url("/website_homepage/static/src/img/bg1.jpg");
      padding: 30% 0 0 0;
  }


  /*Adding background for the slides
  * --------------------------------------- */
  #slide1{
      background-image: url("/website_homepage/static/src/img/bg2.jpg");
      padding: 6% 0 0 0;
  }

  #slide2{
      background-image: url("/website_homepage/static/src/img/bg5.jpg");
      padding: 6% 0 0 0;
  }


  .new-header {
    background: transparent none repeat scroll 0 0;
    z-index: 10;
  }

  .new-header nav {
    margin: 32px 0;
  }

  .new-header nav ul {
    color: #fff;
    display: inline-block;
    list-style: outside none none;
    text-transform: uppercase;
     margin: 38px;
  }
 
  .new-header nav ul li {
    box-shadow: 1px 1px 13px;
    display: inline-block;
    margin-left: 30px;
    padding: 4px 22px;
  }
